.payment-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -6px 6px 28px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.payment-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.payment-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.payment-container .qr-code img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.payment-container .check-transaction-btn {
    background-color: #ff6f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-container .check-transaction-btn:hover {
    background-color: #e65a00;
}